<div class="jumbotron">
  <h1>Bootstrap Tutorial</h1> 
  <p>Bootstrap is the most popular HTML, CSS...</p> 
   
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width:300px">
        <img class="card-img-top" src="assets/image1.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">John Doe</h4>
          <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width:300px">
        <img class="card-img-top" src="assets/image2.png" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Jane Doe</h4>
          <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>        
      </div>
    </div>
  </div>
  
  
</div>

</div>